# IDE files
.vscode
.idea

# OS files
.DS_Store
**/.DS_Store
.DS_Store?

# Log files
logs
*.log

# env
.env
.env.dev
.env.prod
!.env.example

# Script files
.sh
makefile
Makefile
http

# Build files
tmp
godwill
